body{
  background-color: green;
}
img.recto{
  display: none;
}
section>div {
  display: inline-block;
  text-align: center;
}
section{
  clear: both;
  text-align: center;
}

img{
  width: 50px;
}

h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
}
p{
    font-size: 15px;
    font-style: italic;
    color: white;
    margin-bottom: 2em;
    text-align: center;
}
footer{
    color: white;
    text-align: right;
    margin-top: 3em;
}
