body{
  background-color: green;
}
img.recto{
  display: none;
}
section>div {
  display: inline-block;
  text-align: center;
}
section{
  clear: both;
  text-align: center;
}

img{
  width: 50px;
}






/*
.row_01{
  border: 5px solid red;
}
.row_02{
  border: 5px solid blue;
}
.row_03{
  border: 5px solid black;
}
.row_04{
  border: 5px solid yellow;
}
.row_05{
  border: 5px solid pink;
}
.row_06{
  border: 5px solid purple;
}
.row_07{
  border: 5px solid grey;
}
.row_08{
  border: 5px solid white;
}
.row_09{
  border: 5px solid orange;
}
.row_10{
  border: 5px solid lightgrey;
} */
