body{
  background-color: green;
}
img.recto{
  display: none;
}
section>div {
  display: inline-block;
  text-align: center;
}
section{
  clear: both;
  text-align: center;
}

img{
  width: 50px;
}

h1{
    font-family: 'Jua', sans-serif;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 2em;
    color: white;
    line-height: 5em;
    width: 550px;
    margin: auto;
    background-image:url(bouton1.png);
    background-size: cover;
}
p{
    font-size: 20px;
    font-style: italic;
    color: white;
    margin-bottom: 2em;
    margin-top: 2em;
    text-align: center;
    font-weight: bold;
    background-image:url(bouton-vert.png);
    background-size: cover;
    line-height: 2em;
    width: 1000px;
    margin: auto;


}
footer{
    color: white;
    text-align: right;
    margin-top: 3em;
    font-style: italic;
}
body{
    background-image: url(texture-felt-27758474.jpg);
     background-size: cover;
}
main{
    margin-top: 4em;
}
